$dark-color: rgba(0, 0, 0, 0.87);
$grey-color: #7E7E7E;
$lite-color: #F8F8F8;
$lite-grey-color:#D0CFCF;
$disable-btn-color: #B4B4B4;
$hover-btn-color: #FFE302;
$btn-color: #F4E041;

$columns-resolutions:
  2 768px,
  3 1024px;
